/* Buttons  */

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.iconButton svg {
  background-color: #ef5da8;
  /* padding: 10px; */
  border: 2px solid #000;
  border-radius: 50%;
}

/* Header */

.header {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 50% 0 4%;
  position: relative;
  overflow-x: hidden;
}

.header__box {
  align-items: flex-start;
  background-color: var(--clr-neutral-900);
  border-radius: 20px;
  box-shadow: 20px 20px 20px #000000;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 2rem;
  z-index: 10;
}

.title h1 {
  color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-size: 2rem;
}

.secondaryHeading {
  text-align: center;
  font-size: clamp(1.5rem, 0.8571rem + 3.2143vw, 3rem);
}

.blog {
  padding: 5rem 0rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
}

@media screen and (max-width: 768px) {
  .blog {
    grid-template-columns: auto auto;
  }
  .projectContent {
    flex-direction: column;
    width: 100%;
  }
  .projectContent:nth-child(even) {
    flex-direction: column-reverse;
  }

  .imgCol,
  .textCol {
    width: 100vw;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 10% 0 10%;
    position: relative;
    overflow-x: hidden;
  }

  .blog {
    grid-template-columns: auto;
  }

  .projectContent {
    flex-direction: column;
    width: 100%;
  }
  .projectContent:nth-child(even) {
    flex-direction: column-reverse;
  }

  .imgCol,
  .textCol {
    width: 100%;
  }

  .about__box {
    flex-direction: column;
  }
}

.about {
  padding: 4rem 10%;
  /* height: 100vh; */
}

.about__box {
  color: #171616;
  background: #de8989;
  border-radius: 20px;
  display: flex;
  height: 100%;
  padding: 5% 5%;
}

.about__box .leftCol,
.about__box .rightCol {
  display: flex;
  flex-direction: column;
  gap: 2%;
  padding: 5%;
  align-items: flex-start;
}

.about__box .secondaryHeading {
  text-align: left;
}

.centerSection {
  padding: 4% 4%;
}

.projects {
  text-align: center;
  width: 100vw;
  align-items: stretch;
}

.projectContent {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.imgCol,
.textCol {
  flex: 1 1 50%;
  padding: 4rem 2rem;
}

.imgCol {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aquamarine;
  z-index: 20;
}

.textCol {
  text-align: left;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  z-index: 10;
}


.projectButtons {
  display: flex;
  gap: 2rem;
}