.title h1 {
  color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-size: 2rem;
}

.main {
  padding: 5rem 0rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
}

@media screen and (max-width: 768px) {
  .main {
  }
}

.about {
  padding: 4rem 10%;
  height: 100vh;
}

.about__box {
  background: #de8989;
  border-radius: 20px;
  height: 100%;
  display: flex;
  color: #171616;
}

.about__box .leftCol,
.about__box .rightCol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5%;
  align-items: flex-start;
}
