.title h1 {
  color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-size: 2rem;
}

.secondaryHeading {
  text-align: center;
  font-size: clamp(1.5rem, 0.8571rem + 3.2143vw, 3rem);
}

.blog {
  padding: 5rem 0rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
}

@media screen and (max-width: 768px) {
  .main {
  }
}

.about {
  padding: 4rem 10%;
  height: 100vh;
}

.about__box {
  background: #de8989;
  border-radius: 20px;
  height: 100%;
  display: flex;
  color: #171616;
}

.about__box .leftCol,
.about__box .rightCol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5%;
  align-items: flex-start;
}

.projects {
  text-align: center;
  width: 100vw;
  align-items: stretch;
}

.projectContent {
  display: flex;
  flex-wrap: wrap;
  /* overflow: hidden; */
  /* height: 100vh; */
  position: relative;
}

/* .projectContent:nth-child(even) {
  flex-direction: column-reverse;
} */

.imgCol,
.textCol {
  flex: 1 1 50%;
  max-width: 50%;
  min-width: 600px;
}

.imgCol {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aquamarine;
  z-index: 20;
}

.textCol {
  text-align: left;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  z-index: 10;
}
