.projects {
  text-align: center;
  width: 100vw;
  align-items: stretch;
}

.projectContent {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.projectContent:nth-child(even) {
  flex-direction: row-reverse;
}

.imgCol,
.textCol {
  flex: 1 1 50%;
  padding: 4rem 2rem;
}

.imgCol {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aquamarine;
  z-index: 20;
}

.textCol {
  text-align: left;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  z-index: 10;
}

.projectButtons {
  display: flex;
  gap: 2rem;
}

.imgContainer {
  width: 80%;
  aspect-ratio: 16/9;
  margin: 0;
  background-color: #d9d9d9;
  border: 2px solid #000;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease-in-out;
}
/* 
.imgContainer:hover {
  box-shadow: 30px 30px 0px #000000;
} */

/* Buttons  */

.iconButton {
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.8rem;
  text-transform: lowercase;
  letter-spacing: normal;
  padding: 0.4rem 1rem;
}

.iconButton svg {
  background-color: #ef5da8;
  /* padding: 10px; */
  border: 2px solid #000;
  border-radius: 50%;
}

.iconContainer {
  padding: 0.5rem;
  background-color: #ef5da8;
  box-shadow: 5px 5px 0px #000000;
  border: 1px solid #000;
  border-radius: 50%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about__box {
    color: #171616;
    background: #de8989;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5% 5%;
  }

  .about__box .leftCol {
    padding-bottom: 0;
  }

  .about__box .rightCol {
    padding-top: 0;
  }

  .projectContent {
    flex-direction: column;
    width: 100%;
  }
  /* .projectContent:nth-child(even) {
    flex-direction: column-reverse;
  } */

  .imgCol,
  .textCol {
    width: 100%;
    padding: 8%;
    height: initial;
  }

  .imgContainer {
    width: 100%;
  }

  .iconButton {
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    text-transform: lowercase;
    letter-spacing: normal;
    padding: 0.4rem 0.85rem;
  }
}
